<div class="output__wrapper">
  <h3 class="output__text">{{ output }}</h3>
</div>

<div class="pad__wrapper">
  <button class="pad__btn" (click)="writeNumber(1)">1</button>
  <button class="pad__btn" (click)="writeNumber(2)">2</button>
  <button class="pad__btn" (click)="writeNumber(3)">3</button>
  <button class="pad__btn" (click)="writeNumber(4)">4</button>
  <button class="pad__btn" (click)="writeNumber(5)">5</button>
  <button class="pad__btn" (click)="writeNumber(6)">6</button>
  <button class="pad__btn" (click)="writeNumber(7)">7</button>
  <button class="pad__btn" (click)="writeNumber(8)">8</button>
  <button class="pad__btn" (click)="writeNumber(9)">9</button>
  <button class="pad__btn" (click)="backspace()">Clear</button>
  <button class="pad__btn" (click)="writeNumber(0)">0</button>
  <button class="pad__btn" (click)="submitNumber()">Enter</button>
</div>