@import 'https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed';

$blue: #003399;

.machine {
  position: relative;
  top: 0px;
  left: calc(50% - 165px);
  width: 330px;
  height: 500px;
  background-color: $blue;
  border-radius: 10px;
  perspective: 300px;

  &:before {
    position: absolute;
    content: '';
    z-index: -1;
    border-radius: 3px;
    background-color: rgb(150, 150, 150);
    width: 30px;
    height: 40px;
    top: 150px;
    right: 10px;
  }

  &:after {
    position: absolute;
    content: '';
    z-index: -1;
    border-radius: 3px;
    background-color: black;
    width: 26px;
    height: 15px;
    top: 152px;
    right: 12px;
  }

  &__warning {
    animation: warning-light 3s infinite;
    color: #ff0037;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 0 10px red;
  }
}

@keyframes warning-light {
  0% {text-shadow: 0 0 10px red;}
  25% {text-shadow: 0 0 10px red;}
  50% {text-shadow: 0 0 10px white;}
  75% {text-shadow: 0 0 10px red;}
}

.glass {
  width: 260px;
  height: 400px;
  background: linear-gradient(
    to bottom right,
    rgba(150, 200, 255, 0.2),
    rgba(150, 200, 255, 0.7)
  );
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  z-index: 5;

  &:after {
    position: absolute;
    content: '';
    top: -120px;
    right: -420px;
    width: 500px;
    height: 600px;
    transform: rotate(-20deg);
    background: linear-gradient(
      to bottom,
      rgba(150, 180, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
  }
}

.inner {
  width: 260px;
  height: 400px;
  background-color: black;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  overflow: hidden;

  &:before,
  &:after {
    position: absolute;
    content: '';
    top: 0;
    width: 50px;
    height: 100%;
    box-shadow: 0 0 100px 30px rgba(255, 230, 150, 0.9);
    z-index: 2;
  }

  &:before {
    left: -50px;
    animation: light-flicker 7s infinite;
  }

  &:after {
    right: -50px;
  }
}

@keyframes light-flicker {
  0%,
  18%,
  20%,
  98%,
  100% {
    opacity: 1;
  }

  99%,
  19% {
    opacity: 0.5;
  }
}

.tray-inner {
  width: 260px;
  height: 50px;
  background-color: black;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 5px;
}

.tray {
  width: 260px;
  height: 50px;
  background-color: rgb(180, 180, 180);
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-radius: 5px;
  transform-origin: top center;
  transform: rotateX(0deg);
  transition: all .5s;
  transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);

  &.open {
    transform: rotateX(-45deg);
  }

  &:after {
    content: 'push';
    position: absolute;
    top: 28px;
    left: 0;
    text-align: center;
    width: 100%;
    display: block;
    opacity: 0.5;
    color: black;
    font-size: 12px;
  }
}
